@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
	--night: #0e0e0eff;
	--davys-gray: #5e5b57ff;
	--battleship-gray: #948d85ff;
	--eerie-black: #2b251fff;
	--taupe: #483c2fff;
	--buff: #d8af7fff;
	--sunset: #f4c58fff;
	--light-orange: #fadbb9ff;
	--linen: #fff1e2ff;
}

* {
	font-family: "Merriweather", serif;
}

html,
body {
	background-color: var(--night);
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	background-color: var(--eerie-black);
	padding: 0.5rem 1.5rem;
}

.logo-container {
	display: flex;
	align-items: center;
	margin-left: 3rem;
}
.logo-container > img {
	width: 3.125rem;
	height: 3.125rem;
}
.logo-text {
	color: var(--sunset);
	font-size: 1rem;
	font-weight: 700;
}

form.search {
	position: relative;
	margin-left: auto;
	margin-right: 5rem;
}

input#location {
	background-color: var(--linen);
	width: 20rem;

	font-size: 1.05rem;
	padding: 0.2rem 0.5rem;

	border: none;
	border-radius: 0.2rem;
	outline: none;
}

button#search {
	position: absolute;
	right: 0;
	top: 0;

	background-color: var(--sunset);
	font-size: 1.05rem;
	font-weight: 700;
	padding: 0.2rem 0.5rem;

	border: none;
	border-radius: 0.2rem;

	cursor: pointer;
}

button#search:hover {
	background-color: var(--light-orange);
}

.weather-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 1rem 2rem;
	gap: 1rem;
}

.current-weather-container {
	width: 95%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--light-orange);

	border-radius: 0.5rem;

	padding: 0.4rem 0;
}

.condition {
	display: flex;
	align-items: center;
	justify-content: center;
}

.condition > img {
	width: 4rem;
	height: 4rem;
}

.temperature-text {
	margin: 0;

	text-align: center;

	font-size: 3rem;
	font-weight: 700;
}

.feels-like-text {
	text-align: center;
	font-size: 0.9rem;
	color: var(--davys-gray);
}

.forecast-container {
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 1rem 0rem;

	background-color: var(--light-orange);

	border-radius: 0.5rem;
}

.forecast-item {
	width: calc(95% / 3);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast-item > .day {
	font-size: 1.2rem;
	font-weight: 900;
}

.hourly-forecast-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 40vh;

	background-color: var(--taupe);
	color: var(--linen);

	padding: 0.3rem 0.5rem;

	overflow-y: auto;

	border-radius: 0.2rem;
}

.hourly-forecast-container::-webkit-scrollbar {
	display: none;
}

.hourly-forecast-container p {
	margin: 0;
}

.hourly-forecast-item {
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 0.5rem 1rem;
}

.hourly-condition-container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hourly-condition-container > img {
	width: 2.5rem;
	height: 2.5rem;
}

.hourly-condition-text {
	width: 70%;
	font-size: 0.9rem;
	text-align: center;
}

.hourly-condition-text > .condition {
	font-size: 0.8rem;

	color: var(--battleship-gray);
}
